.header {
  height: 100px;
}

.header h1 {
  float: left;
  margin: 0;
  padding: 0 15px;
  font-size: 40px;
  line-height: 100px;
  font-weight: 400;
}

.header nav {
  float: right;
  font-size: 100%;
}

.header nav a {
  display: inline-block;
  height: 56px;
  line-height: 100px;
  margin: 0 15px;
  min-width: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #333;
  will-change: background-color;
  transition-property: color;
  transition-duration: 300ms;
  text-transform: uppercase;
  position: relative;
}

.header nav a:hover,
.header nav a:active,
.header nav a.active {
  color: #00993d;
}

.header nav a:after {
  content: "";
  width: 0%;
  border-bottom: 3px solid #00993d;
  position: absolute;
  bottom: -12px;
  left: 0;
  transition-duration: width;
  transition-duration: 300ms;
}

.header nav a:hover:after,
.header nav a.active:after {
  width: 70%;
}

.header-logo {
  height: 100%;
}

@media all and (max-width: 650px) {
  .header-logo {
    height: 150px;
    max-width: 80vw;
  }
  .header {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
  }
  .header h1 {
    font-size: 2rem;
  }
  .header nav a {
    line-height: 20px;
    margin: 0 8px;
  }
}
