@import url("https://fonts.googleapis.com/css?family=Courgette&text=Jane%20Doe");

:root {
  --primary-color: #13911D;
  --primary-color-darken: #0C5E13;
}

html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  padding: 0 10px;
  height: 100%;
  margin: auto;
  max-width: 1280px;
}

a {
  text-decoration: none;
  color: #333;
}

.loading {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f9;
  background-image: linear-gradient(
    to right,
    #f6f7f9 0%,
    #e9ebee 20%,
    #f6f7f9 40%,
    #f6f7f9 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.spinner-container {
  height: 50vh;
  display: flex;
}

.products-container {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.card-image-container {
  height: 350px;
  object-fit: cover;
  width: 100%;
}

.filter-box {
  max-width: 200px;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border: var(--bs-btn-border-width) solid var(--primary-color) !important;
}

.btn-primary:hover {
  background-color: var(--primary-color-darken) !important;
}

.btn-primary:focus {
  background-color: var(--primary-color-darken) !important;
}

.form-check-input:checked {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.buttons-container {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.category-container {
  background-color: white;
  justify-content: space-around; 
  flex-wrap:wrap ; 
  display: flex;
  gap: 30px;
  padding-top: 10px;
}

.btn-secondary {
  background-color: #aaa4ad !important;
  border: #aaa4ad !important;
}

.btn-secondary:hover {
  background-color: #78737A !important;
}

.mapa-image {
  max-width: 100%;
  height: auto;
}

