.buttons-container {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.category-container {
  background-color: white;
  justify-content: space-between; 
  flex-wrap:wrap ; 
  flex-direction: row-reverse;
  display: flex;
  gap: 10px;
}